config.yaml

node_modules
npm-debug.log

.vscode
.mysql

google-credentials.json
google-token.json
*.csv
users.yaml
*.xml
/.idea/*
db-backups
/.idea
docker-compose.dev.yaml

./.backup

/.env

hh-tampermonkey/widget/.cache
